<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="opened">
    <a class="nav-link-close" (click)="opened = false"> Close <span class="glyphicon glyphicon-remove"></span> </a>
    <a class="nav-link" [routerLink]="['']">Home</a>
    <a  class="nav-link">About</a>
  </ng-sidebar>
  <!-- Page content -->
  <div class="menu-hamburger">
    <span (click)="toggleSidebar()" class="glyphicon glyphicon-menu-hamburger"></span>
  </div>
</ng-sidebar-container>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
